# <center> IMPORTANDO Y EXPORTANDO DATA </center>
## 1. Importando datos
### 1.1 Importando desde una interfaz 
Desde un archivo (Plano: txt, csv ó con unformato avanzado: RData, sas7...., sav,....)

In [3]:
import pandas as pd

In [4]:
#Localmente (Esta en Mi PC o una ruta compartida)
df1=pd.read_csv("bikes.csv")
df1.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [ ]:
# resumen de columnas: tipos de datos, nullos y cantidades
df1.info()

In [ ]:
#Resumen destatística de columnas numéricas.
df1.describe()

### 1.2 Importando desde Excel

In [ ]:
dfFoodInfo = pd.read_excel('sampledatafoodinfo.xlsx', sheet_name='FoodList')
dfFoodInfo.head()

In [ ]:
# Reemplazar con nullos un campo
dfFoodInfo['Measure'] = dfFoodInfo['Measure'].fillna("")

In [ ]:
#Reemplazar nullos por zero
dfFoodInfo.fillna(0, inplace=True)

## 2. Exportando datos
Cuando cerremos el notebook, todas las variables (dataframe) desaparece, por lo tanto es una muy buena practica respaldar la data extraida.

In [ ]:
dfFoodInfo.to_csv("df_loan.csv", index=False)