# INTEGRACIÓN DE DATOS (JOINS / MEGERS)


SELECT A.*, B.a2, B.a3 FROM client A, district B WHERE A.district_id=B.district_id(+) (En oracle)

In [ ]:
from IPython.display import Image
Image("joins.png", height=800, width=500)

In [ ]:
import pandas as pd

## Ejemplo 1

In [ ]:
staff_df = pd.DataFrame([{'Name': 'Kelly', 'Role': 'Director of HR'},
                         {'Name': 'Sally', 'Role': 'Course liasion'},
                         {'Name': 'James', 'Role': 'Grader'}])

student_df = pd.DataFrame([{'Name': 'James', 'School': 'Business'},
                           {'Name': 'Mike', 'School': 'Law'},
                           {'Name': 'Sally', 'School': 'Engineering'}])

In [ ]:
pd.merge(staff_df, student_df, how='inner', on='Name')

In [ ]:
pd.merge(staff_df, student_df, how='inner', left_on='Name', right_on='Name')

## Ejemplo 2

In [ ]:
staff_df = pd.DataFrame([{'First Name': 'Kelly', 'Last Name': 'Desjardins', 'Role': 'Director of HR'},
                         {'First Name': 'Sally', 'Last Name': 'Brooks', 'Role': 'Course liasion'},
                         {'First Name': 'James', 'Last Name': 'Wilde', 'Role': 'Grader'}])
student_df = pd.DataFrame([{'First Name': 'James', 'Last Name': 'Hammond', 'School': 'Business'},
                           {'First Name': 'Mike', 'Last Name': 'Smith', 'School': 'Law'},
                           {'First Name': 'Sally', 'Last Name': 'Brooks', 'School': 'Engineering'}])

### Ejercicio 1 

Agregar la edad almacenada en df2 a df1 conservando el universo de df1.

In [ ]:
df1 = pd.DataFrame({'id': [1, 2, 3, 4], 'name': ['Alice', 'Bob', 'Charlie', 'Dave']})
df2 = pd.DataFrame({'id': [2, 4, 6, 8], 'age': [25, 30, 35, 40]})

### Ejercicio 2
Combinar DataFrames utilizando 'key' como clave, y realizar una operación de "outer join"

In [ ]:
dfA = pd.DataFrame({'key': ['A', 'B', 'C'], 'value': [1, 2, 3]})
dfB = pd.DataFrame({'key': ['B', 'D', 'E'], 'value': [4, 5, 6]})

### Ejercicio 3
Combinar dos DataFrames en una columna común llamada "id", utilizando diferentes nombres de columna en cada DataFrame:

In [ ]:
df1 = pd.DataFrame({'id': [1, 2, 3, 4], 'name': ['Alice', 'Bob', 'Charlie', 'Dave']})
df2 = pd.DataFrame({'userid': [2, 4, 6, 8], 'age': [25, 30, 35, 40]})

### Ejercicio 4 (CHALLENGE)

Combinar dos DataFrames en dos columnas en común llamadas "nombre" y "ciudad", y mantener solo las filas que tienen un valor mayor que 3000 en una columna llamada "salario" en uno de los DataFrames:

In [ ]:
# Crear el primer DataFrame
data1 = {'nombre': ['Ana', 'Carlos', 'María', 'Juan'],
         'edad': [25, 32, 18, 45],
         'ciudad': ['Madrid', 'Barcelona', 'Valencia', 'Sevilla']}
df1 = pd.DataFrame(data1)

# Crear el segundo DataFrame
data2 = {'nombre': ['Ana', 'Carlos', 'Pedro', 'Luis'],
         'salario': [2500, 3200, 1800, 4500],
         'ciudad': ['Madrid', 'Barcelona', 'Valencia', 'Sevilla']}
df2 = pd.DataFrame(data2)